<div class="container">
  <p appBasichighlight> heelo World!!</p>
  <!-- <p appBettterDirective
   [defaultColor]='"yellow"'
  [highlightColor]='"purple"'
  > hello world!!</p> -->
  <p appBettterDirective [defaultColor]='"yellow"' appBettterDirective='purple'> hello world!!</p>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
        <div *appUnless="onlyOdd">
        
          <li class="list-group-item" *ngFor="let number of odd" [class.bg-success]="number%2 !== 0"
            [ngStyle]="{'background-color': number%2 !== 0  ? 'red': 'yellow'}">
            {{ number }}
          </li>
        </div>
        <!-- <div *ngIf = "onlyOdd">

          <li class="list-group-item" 
          *ngFor="let number of odd"
          [class.bg-success]="number%2 !== 0"
          [ngStyle]="{'background-color': number%2 !== 0  ? 'red': 'yellow'}"
          >
            {{ number }}
          </li>
        </div> -->
        <div *ngIf="!onlyOdd">
        
          <li class="list-group-item" 
          [class.bg-primary]="number%2 === 0"
          *ngFor="let number of even">
            {{ number }}
          </li>
        </div>

      </ul>
      <ng-template [ngIf]="onlyOdd">
        <p>Only odd</p>
      </ng-template>
    </div>
    <div [ngSwitch]="value">
   <p *ngSwitchCase="10">value is 10</p>
   <p *ngSwitchCase="5">value is 5</p>
   <p *ngSwitchCase="6">value is 6</p>
   <p *ngSwitchCase="9">value is 9</p>
   <p *ngSwitchDefault="10">default value</p>
    </div>
  </div>
</div>